:root{
    /* 
        Mango Tango:
        #E17000
        Tangerine:
        #F88101
        Chrome Yellow:
        #F8A800
        clownfish white:
        #FCFCFC
        clownfish black:
        #0C0C0C
    */
    
    --clownfish-white: #FCFCFC;
    --chrome-yellow:#F8A800;
    --tangerine:#F88101;
    --mango-tango: #E17000;
    --clownfish-black: #0C0C0C;



    --hero-margin-left: 9%;
}


/* Hero */
div.hero.page-container{
    min-height: 800px;
    height: 100vh;
    background-image: url("assets/images/Hero_Image_1-1920px_x_1280px.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img.hero.logo{
    margin: 5% 0 0 var(--hero-margin-left);

    /* Temp */
    background-color: var(--chrome-yellow);
}
div.hero.message{
    margin: 12% 0 0 var(--hero-margin-left);
    width: 600px;
}
p.hero{
    font-size: 28px;
}
div.hero.wrapper{
    width: 80%; /* Changes horizontal positioning of hero button */
}
button.hero{
    margin-top: 40px;
}



/* Features */
div.features.page-container{
    text-align: center;
    overflow: auto;
    padding: 4%;
}
div.features.grid-container{
    min-height: 300px;
    min-width: 800px;
    width: 60%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3% auto 0 auto;
}
div.features.feature-container{
    margin: 0 8%;
}
img.features{
    width:100%;
    /* Temp */
    background-color: var(--chrome-yellow);
}
p.features{
    margin-top: 10%;
}
button.features{
    margin-top: 3%;
}


/* Pricing */
div.pricing.page-container{
    text-align: center;
    overflow: auto;
    background: var(--tangerine);
    background: linear-gradient(to right bottom, var(--chrome-yellow),var(--mango-tango));
    padding: 4%;
}
h1.pricing.title{
    color: var(--clownfish-white);
}
div.pricing.grid-container{
    min-height: 300px;
    min-width: 800px;
    width: 60%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3% auto 0 auto;
}
div.pricing.tier-container{
    min-width: 200px;
    color: var(--tangerine);
    background-color: var(--clownfish-white);
    overflow: auto;
    padding: 10%;
    border-radius: 50px;
    margin: 3% auto 0 auto;
    
}
ul.pricing{
    margin-top: 10%;
}
h1.pricing.price{
    margin-top: 10%;
}
button.pricing{
    margin-top: 3%;
}



/* Classes */
.divider{
    height: 80px;
    background-color: var(--clownfish-black);
}
.wrapper{
    text-align: center;
}


/* Tags */
body{
    background-color: var(--clownfish-white);
}
h1{
    font: 800 61px Gilroy;
}
h2{
    font: 800 32px Gilroy;
}
p{
    font: 300 26px Gilroy;
}
li{
    font: 300 26px Gilroy;
}
button{
    height: 2em;
    padding: .5em;
    font: 300 29px Gilroy;
    color: var(--clownfish-white);
    background-color: var(--tangerine);
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}
button:hover{
    background-color: var(--chrome-yellow);
}
button:focus{
    outline:thin;
}
button.alt{
    color: var(--clownfish-white);
    background-color: var(--clownfish-black);
}
button.alt:hover, button.alt:focus{
    filter:brightness(2);
}
footer{
    color: var(--chrome-yellow);
    background-color: var(--clownfish-black);
    padding: 1%;
    text-align: center;
}
footer div.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
footer div.menu{
    text-align:left;
    margin: 0 auto 0 auto;
}
footer ul{
    margin-top: 10%;
}












/* Fonts */
@font-face{
    font-family: Gilroy;
    font-weight: 300;
    src:url("assets/fonts/Gilroy-Light.ttf")  format("truetype"),
        url("assets/fonts/Gilroy-Light.woff") format("woff");
    
}
@font-face{
    font-family: Gilroy;
    font-weight: 400;
    src:url("assets/fonts/Gilroy-Medium.ttf")  format("truetype"),
        url("assets/fonts/Gilroy-Medium.woff") format("woff");
    
}
@font-face{
    font-family: Gilroy;
    font-weight: 800;
    src:url("assets/fonts/Gilroy-Heavy.ttf")  format("truetype"),
        url("assets/fonts/Gilroy-Heavy.woff") format("woff");
}
@font-face{
    font-family: Gilroy;
    font-weight: 700;
    src:url("assets/fonts/Gilroy-Bold.ttf")  format("truetype"),
        url("assets/fonts/Gilroy-Bold.woff") format("woff");
}


